<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.appointment.mapper.SubmitStateMapper">
    
    <resultMap type="SubmitState" id="SubmitStateResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="submitStatus"    column="submit_status"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSubmitStateVo">
        select id, file_name, submit_status, user_id, user_name, create_by, create_time, update_by, update_time, remark from submit_state
    </sql>

    <select id="selectSubmitStateList" parameterType="SubmitState" resultMap="SubmitStateResult">
        <include refid="selectSubmitStateVo"/>
        <where>  
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectSubmitStateById" parameterType="Long" resultMap="SubmitStateResult">
        <include refid="selectSubmitStateVo"/>
        where id = #{id}
    </select>

    <insert id="insertSubmitState" parameterType="SubmitState" useGeneratedKeys="true" keyProperty="id">
        insert into submit_state
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="submitStatus != null and submitStatus != ''">submit_status,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="submitStatus != null and submitStatus != ''">#{submitStatus},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSubmitState" parameterType="SubmitState">
        update submit_state
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="submitStatus != null and submitStatus != ''">submit_status = #{submitStatus},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSubmitStateById" parameterType="Long">
        delete from submit_state where id = #{id}
    </delete>

    <delete id="deleteSubmitStateByIds" parameterType="String">
        delete from submit_state where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>